<div class="container">

  <br />
  <h2>You will need to create a Webhook in Stripe</h2>
  <br />

  <%= image_tag("webhook_screen.png") %>


  <br />
  <h2>What is your Slack organization name?</h2>
  <h4>Example: https://YOUR_SLACK_ORG.slack.com</h4>
  <br />

  <div class="form-horizontal">
    <%= form_for [@user] do |f| %>

    <div class="form-group">
      <%= f.label :slack_org, class: "col-md-2 control-label" %>
      <div class="col-md-4">
        <%= f.text_field :slack_org, class: "form-control" %>
      </div>
    </div>

  <br />
  <h2>You will need to create a incoming Webhook in Slack</h2>
  <br />

    <div class="form-group">
      <%= f.label :slack_webhook, class: "col-md-2 control-label" %>
      <div class="col-md-4">
        <%= f.text_field :slack_webhook, class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-offset-2 col-sm-6">
        <%= f.submit class: "btn btn-primary"%>
        <%= link_to "Cancel", user_path(@user), class: "btn btn-default" %>
      </div>
    </div>
    <% end %>
  </div>

</div>
