<div class="container">

  <div class="pull-right">
    <%= link_to "Lets Get Started By Updating Your Info", edit_user_path(@user), class: "btn btn-success btn-lg" %>
    <%= link_to "Send a Test to my Channel", slack_hook_path, class: "btn btn-danger btn-lg" %>
  </div>

  <h1>RainMaker</h1>
  <br />

  <dl class="dl-horizontal">
    <dt>Slack Org. Name</dt>
    <dd><%= @user.slack_org %></dd>
    <dt>Slack Channel</dt>
    <dd><%= @user.slack_channel %></dd>
    <dt>Slack Webhook URL</dt>
    <dd><%= @user.slack_webhook %></dd>
    <dt>Stripe Webhook URL</dt>
    <dd><%= @user.stripe_webhook %></dd>
  </dl>

  <br />
  <div class="text-center">
    <%= image_tag("eastbound.gif") %>
  </div>
</div>
